* {
    display: block;
    box-sizing: border-box;
  }

div {
  padding: 1%;
  border-radius: 3%;
  border: 3px dotted navy;
  max-width: 90%;
}

.recentThreadLinks{
  color: none;
}
.recentThreadLinks:hover {
  color: blue;
}
.recentThreadLinks:active {
  color: white;
  background-color: blue;
}

.commentBox {
  width: 350px;
  height: 350px;
  max-width: initial;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  background-color: white;
  margin: 2%;
}
.gridContainer {
    display: grid;
    max-height: 420px;
    background-color: rgb(119, 119, 119);
    color: #fff;
    overflow: auto;
}
.highlight {
  position: absolute;
  pointer-events:none;
  z-index: 1;
  left: 0px;
  top: 0px;
  min-width: 200px;
  width: 200px;
  min-height: 280px;
  height: 280px;
  border: 2px dashed blue;
}