* {
    display: block;
    box-sizing: border-box;
  }

div {
  border: 3px solid navy;
  max-width: 90%;
  margin: 1%;
  padding: 1%;
}

.recentThreadLinks{
  color: none;
}
.recentThreadLinks:hover {
  color: blue;
}
.recentThreadLinks:active {
  color: white;
  background-color: blue;
}

.commentBox, .responseBox, .commentBoxBlank{
  width: 350px;
  height: 350px;
  max-width: initial;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  background-color: white;
  padding: 2%;
  margin: 2%;
}

.commentBoxBlank {
  opacity: 0;
}

.responseBox {
  position: relative;
  left: 15%;
  z-index: 1;
  opacity: 0.9;
  border: 2px solid white;
  color: white;
  background-color: black;
}

.commentBody {
  display: block;
  min-height: 58%;
  overflow: auto;
  border-top: 2px solid navy;
  padding: 2%;
}
.gridContainer {
    display: grid;
    max-height: 420px;
    background-color: rgb(119, 119, 119);
    color: #fff;
    overflow: auto;
}

.commentBlockTextArea {
  display: block;
  resize: none;
  width: 100%;
  height: 70%;
  margin-bottom: 2%;
}

/*
.box, .blankBox {
  width: 150px;
  height: 250px;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: rgb(207,232,220);
  padding: 1em;
  margin: 2%;
}

.blankBox {
  opacity: 0;
}*/

.grid, .container{
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
.container::-webkit-scrollbar, .grid::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.grid {
    display: grid;
    background-color: lightgray;
    justify-content: start;
    border: initial;
    margin: initial;
    max-width: initial;
    color: #fff;
    overflow-y: hidden;
    overflow-x: auto;
    border-left: 2px solid navy;
    border-right: 2px solid navy;
}
.container {
  display: block;
  border: initial;
  
  box-sizing: border-box;
  margin: initial;
  max-width: initial;
  max-height: 50vh;
  overflow-y: auto;
  
}
