* {
    display: block;
    box-sizing: border-box;
  }

div {
  padding: 1%;
  border-radius: 3%;
  border: 3px dotted navy;
  max-width: 80%;
}

.recentThreadLinks{
  color: none;
}
.recentThreadLinks:hover {
  color: blue;
}
.recentThreadLinks:active {
  color: white;
  background-color: blue;
}

.commentBox {
  width: 150px;
  height: 250px;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  background-color: white;
  padding: 1em;
  margin: 15px;
}
.gridContainer {
    position: relative;
    display: grid;
    grid-gap: 20px;
    background-color: rgb(119, 119, 119);
    color: #fff;
    overflow: auto;
}
.highlight {
  position: relative;
  pointer-events:none;
  z-index: 1;
  min-width: 200px;
  width: 200px;
  min-height: 280px;
  height: 280px;
  border: 2px dotted blue;
}